In [ ]:
# Exercício 1 - Crie uma função que imprima a sequência de números pares entre 1 e 20 (a função não recebe parâmetro)
# e depois faça uma chamada à função para listar os números

def conj_dados():
  for i in range(0,21,2):
    print(i)
conj_dados()

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
# Exercício 2 - Crie uma função que receba uma string como argumento e retorne a mesma string em letras maiúsculas.
# Faça uma chamada à função, passando como parâmetro uma string

def upCase(nome):
  return nome.upper()
upCase('Python')

'PYTHON'

In [ ]:
# Exercício 3 - Crie uma função que receba como parâmetro uma lista de 4 elementos, adicione 2 elementos a lista e
# imprima a lista
lista2 = [2,4,6,7]

def dados(n1, n2):
  lista2.append(n1)
  lista2.append(n2)

dados(3,6)
print(lista2)

[2, 4, 6, 7, 3, 6]

In [ ]:
# Exercício 4 - Crie uma função que receba um argumento formal e uma possível lista de elementos. Faça duas chamadas
# à função, com apenas 1 elemento e na segunda chamada com 4 elementos

def nova(arg, *args):
  elm = arg
  print(elm)
  for i in args:
    print(i)
    return;

nova('Python')

Python

In [ ]:
nova(1, [3,6,9,12])

1
[3, 6, 9, 12]

In [ ]:
# Exercício 5 - Crie uma função anônima e atribua seu retorno a uma variável chamada soma. A expressão vai receber 2
# números como parâmetro e retornar a soma deles

soma = lambda x,y: x+y
soma(2,2)

4

In [ ]:
# Exercício 6 - Execute o código abaixo e certifique-se que compreende a diferença entre variável global e local
total = 0
def soma( arg1, arg2 ):
    total = arg1 + arg2;
    print ("Dentro da função o total é: ", total)
    return total;


soma( 10, 20 );
print ("Fora da função o total é: ", total)

Dentro da função o total é:  30
Fora da função o total é:  0

In [ ]:
# Exercício 7 - Abaixo você encontra uma lista com temperaturas em graus Celsius
# Crie uma função anônima que converta cada temperatura para Fahrenheit
# Dica: para conseguir realizar este exercício, você deve criar sua função lambda, dentro de uma função
# (que será estudada no próximo capítulo). Isso permite aplicar sua função a cada elemento da lista
# Como descobrir a fórmula matemática que converte de Celsius para Fahrenheit? Pesquise!!!
Celsius = [39.2, 36.5, 37.3, 37.8]
Fahrenheit = map(lambda t: (t * 1.8) + 32, Celsius)
print(list(Fahrenheit))

[102.56, 97.7, 99.14, 100.03999999999999]

In [ ]:
# Exercício 8 - Crie uma list comprehension que imprima o quadrado dos números de 1 a 10
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Exercício 9 - Crie uma list comprehension que imprima as palavras com a letra a no nome
palavras = ["maça", "coiote", "banana", "terreno", "Python"]
[i for i in palavras if 'a' in i]

['maça', 'banana']

In [ ]:
# Exercício 10 - Crie uma list comprehension que imprima os números menores que 5 em um intervalo de 1 a 10
[i for i in range(11) if i < 5]

[0, 1, 2, 3, 4]