## Trabalhando com Tuplas

As tuplas são mais usadas como saída de resultado, é uma estrutura imutável, é a menos utilizada por conta das suas limitações.

Caso haja uma lista de elementos que não podem ser modificados, crie em tupla, caso contrário, é necessário criar em lista [] ou dicionário {}.

Parênteses ( ) é a estrutura da tupla.

In [ ]:
# Criando a tupla
tupla1 = ('Python', 5.5, 'teste', 60)

In [ ]:
tupla1

('Python', 5.5, 'teste', 60)

In [ ]:
type(tupla1)

tuple

In [ ]:
# Tuplas não suportam append, ou seja, não aceita acrescentar
tupla1.append('Laranja')

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# Tupla não permite a exclusão de um elemento
del tupla1['5.5']

TypeError: 'tuple' object does not support item deletion

In [2]:
# Tupla pode ter um único item
tupla1 = ('Chocolate')

In [ ]:
tupla1

'Chocolate'

In [3]:
tupla1 = ('Chocolate', 'Aveia', 'Ovos', 'Castanha')

In [4]:
# Indexação
tupla1[2]

'Ovos'

In [ ]:
# Comprimento da tupla
len(tupla1)

4

In [ ]:
# Slicing
tupla1[1:]

('Aveia', 'Ovos', 'Castanha')

In [5]:
tupla1[:1]

('Chocolate',)

In [ ]:
# Valida índice
tupla1.index('Ovos')

2

In [ ]:
# Tuplas não suportam atribuição de itens
tupla1[1] = 'Óleo'

TypeError: 'tuple' object does not support item assignment

In [ ]:
del tupla1

In [ ]:
tupla1

NameError: name 'tupla1' is not defined

In [7]:
# Criando uma tupla
t2 = ('A', 'E', 'I', 'O')

In [ ]:
t2

('A', 'E', 'I', 'O')

In [8]:
t2[2] = 'D'

TypeError: 'tuple' object does not support item assignment

In [ ]:
type(t2)

tuple

In [ ]:
# Usando a função list() para converter a tupla para lista
listat2 = list(t2)

In [ ]:
type(listat2)

list

In [ ]:
listat2

['A', 'E', 'I', 'O']

In [ ]:
listat2.append('U')

In [ ]:
listat2

['A', 'E', 'I', 'O', 'U']

In [ ]:
# Usando a função tuple() para converter a lista para tupla
tupla2 = tuple(listat2)

In [ ]:
type(tupla2)

tuple

In [ ]:
tupla2

('A', 'E', 'I', 'O', 'U')