# Função Enumerate

A função enumerate() em Python é uma função que **permite iterar sobre uma estrutura de dados** (como uma lista, tupla ou outro objeto iterável). A função enumerate() retorna um objeto enumerado, que pode ser usado em loops para percorrer a estrutura de dados e acessar o contador e o valor de cada elemento.

Enumera através de índice. Sempre retorna pares de índice e valor.

In [1]:
# criando uma lista
sq = ['a', 'x', 'y']

In [12]:
# retorna o iterator
enumerate(sq)

In [13]:
# converte o iterator para lista
# os números são os índices de cada elemento da lista 'sq'
list(enumerate(sq))

[(0, 'a'), (1, 'x'), (2, 'y')]

In [14]:
# imprimindo os valores de uma lista com a função enumerate() e seus respectivos índices
# para cada índice e valor dentro do enumerate de 'sq'
for i,v in enumerate(sq):
  print(i,v)

0 a
1 x
2 y

In [15]:
# para cada índice,valor dentro do enumerate de 'sq'
for i,v in enumerate(sq):
  # se o valor do índice for >= 2, pause
  if i >= 2:
    break
  # se não, imprima o valor
  else:
    print(v)

a
x

In [7]:
lst = ['Tech', 'Dados', 'BI']

In [16]:
# para cada x(índice), item(elemento) dentro de enumerate 'lst'
for x, item in enumerate(lst):
  print(x, item)

0 Tech
1 Dados
2 BI

In [17]:
# usando uma string (sequência de caracteres) no enumerate
for x, i in enumerate('Data Science'):
  print(x, i)

0 D
1 a
2 t
3 a
4
5 S
6 c
7 i
8 e
9 n
10 c
11 e

In [10]:
for x,y in enumerate('Python'):
  print(x,y)

0 P
1 y
2 t
3 h
4 o
5 n

In [22]:
# para cada índice,valor dentro do enumerate com range de 2 até 50 pulando de 2 em 2
for x,v in enumerate(range(2,50,2)):
  print(x,v)

0 2
1 4
2 6
3 8
4 10
5 12
6 14
7 16
8 18
9 20
10 22
11 24
12 26
13 28
14 30
15 32
16 34
17 36
18 38
19 40
20 42
21 44
22 46
23 48