# Função Filter

A função filter() em Python é uma função que **filtra elementos de uma estrutura de dados iterável** (como uma lista, tupla ou outro objeto iterável) com base em uma determinada condição. A função filter() retorna um objeto filtro, que pode ser convertido em outra estrutura de dados, como uma lista, se necessário.

In [10]:
# criando uma função que verifica se o número é par (True) ou ímpar (False)
def verifPar(n):
  # se o n / 2 o resto for = 0
  if n % 2 == 0:
    return True
  else:
    return False

In [2]:
# chamando a função e passando um número como parâmetro.
# retorna True se for par e False se for ímpar
verifPar(23)

False

In [3]:
# retorna True se for par e False se for ímpar
verifPar(2)

True

In [4]:
# criando uma lista
lst = [0,1,2,3,4,5,10,11,12,13,14,15,20,21,22,23,24,25]

In [5]:
# exibe a lista criada
lst

[0, 1, 2, 3, 4, 5, 10, 11, 12, 13, 14, 15, 20, 21, 22, 23, 24, 25]

In [6]:
# a função filter() retorna um objeto iterator
# filta a 'lst' e retorna somente os números que resultarem em True
filter(verifPar, lst)

In [7]:
# converte o resultado de filter em lista
list(filter(verifPar, lst))

[0, 2, 4, 10, 12, 14, 20, 22, 24]

In [8]:
# para cada elemento de 'lst', retorne-o se o resto da divisão do elemento por 2 for = 0
list(filter(lambda x: x%2==0, lst))

[0, 2, 4, 10, 12, 14, 20, 22, 24]

In [9]:
# retorne apenas se o elemento de 'lst' for maior que 8
list(filter(lambda n: n > 8, lst))

[10, 11, 12, 13, 14, 15, 20, 21, 22, 23, 24, 25]